<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Index Page</title>
</head>
<body>
<form action="save" method="post">
    <table>
        <tr>
            <td><label for="Car Brand">Car Brand</label></td>
            <td><input type="text" name="brand"></input></td>
        </tr>
        <tr>
            <td><label for="Year">Year</label></td>
            <td><input type="text" name="year"></input></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Save"></input></td>
        </tr>
    </table>
</form>
</body>
</html>